[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGtV8pIFpbYwYXqV6vmdkAZQ7QT+35HMGhiIvYuCFvM4 holger.falk@inform-software.com
	name = Holger Falk
	email = holger.falk@inform-software.com
[commit]
	gpgsign = true
[core]
	autocrlf = input
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = true
[alias]
  purge = "!f() { git checkout main ; git fetcha; git pull; git clean-branch; }; f"
  fetcha = fetch --all -p
  clean-branch = "!f() { git fetch -p && for branch in $(git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {sub(\"refs/heads/\", \"\", $1); print $1}'); do git branch -D $branch; done; }; f "
  pushu = !CURRENT=$(git branch --show-current) && git push origin $CURRENT
  currb = rev-parse --abbrev-ref HEAD
  all = "!f() { ls -R -d */.git | xargs -I{} bash -c \"echo  ===== {} ===== && git -C {}/../ $1\"; }; f"
  cmp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
  cmpu = "!f() { git add -A && git commit -m \"$@\" && git push origin $(git branch --show-current); }; f"
  delbra ="!f() { git push origin --delete \"$@\" || git branch -D \"$@\"; }; f"
[gpg]
	format = ssh
