[user]
	signingkey = 1E29C64BF470722C
	name = Holger Falk
	email = holger.falk@inform-software.com
[credential "https://github.com"]
	helper =
	helper = !/home/hfalk/.asdf/installs/github-cli/2.13.0/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/home/hfalk/.asdf/installs/github-cli/2.13.0/bin/gh auth git-credential
[commit]
	gpgsign = true
[core]
	autocrlf = input
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = true
[alias]
  purge = "!f() { git checkout main ; git fetcha; git pull; git clean-branch; }; f"
  fetcha = fetch --all -p
  clean-branch = "!f() { git fetch -p && for branch in $(git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {sub(\"refs/heads/\", \"\", $1); print $1}'); do git branch -D $branch; done; }; f "
  pushu=!CURRENT=$(git branch --show-current) && git push origin $CURRENT
